<div class="container">
	<h1>Recipe</h1>
</div>
<div class="container">
	<!-- if galleries -->
	{{#if recipes}}
		{{#each recipes}}
		<h2>{{name}}
			<div class="pull-right text-muted">{{createdAt}}</div>
		</h2>
		<div class="row gallery-images">
				{{#if image}}
				<div class="col-sm-4 col-md-4 gallery-image">
					<img src="{{cloudinaryUrl image width='680' height='680'}}" class="img-rounded">
				</div>
				{{/if}}
		</div>
		<article>
			<div class="post">
				{{ingredientList}}
			</div>
			<div class="post">
				{{cookingInstructions}}
			</div>
		</article>
		{{/each}}
	{{else}}
		<!-- else -->
		<h3 class="text-muted">There are no image galleries yet.</h3>
	{{/if}}

</div>
